<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MemberData.Properties.Settings.WcriMembershipConnectionString"
            connectionString="Data Source=.;Initial Catalog=WcriMembership;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>