<div data-ng-controller="PasswordManagementController as PasswordManagement" ng-keydown="PasswordManagement.CheckValidation($event)" class="ContentFull ContentBackground" style="padding: 5px;">
    <table cellpadding="0" cellspacing="0" class="ContentFull" border="0">
        <tr>
            <td id="tdUserName">
                <table cellpadding="5" cellspacing="0" border="0" class="" style="margin-left:auto; margin-right: 15px;">
                    <tr>
                        <td class="InputLabel">
                            User Name
                        </td>
                        <td>
                            <input type="text" id="txtUserName" class="ContentFont TextInput" data-ng-model="PasswordManagement.ManagePassword.UserName.Value" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 220px; vertical-align: top;">
                <table cellpadding="5" cellspacing="0" border="0">
                    <tr>
                        <td colspan="2" id="tdSecurityContent" class="ContentFull" style="display: none;">
                            <fieldset class="FieldSetStyle">
                                <legend>Security Content</legend>
                                <table cellpadding="10" cellspacing="0">
                                    <tr>
                                        <td class="InputLabel">
                                            Security Question
                                        </td>
                                        <td>
                                            <input type="text" id="txtSecurityQuestion" class="ContentFont TextInputLong" data-ng-model="PasswordManagement.ManagePassword.SecurityQuestion.Value" disabled />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="InputLabel">
                                            Security Answer
                                        </td>
                                        <td>
                                            <input type="text" id="txtSecurityAnswer" class="ContentFont TextInputLong" data-ng-model="PasswordManagement.ManagePassword.SecurityAnswer.Value" disabled />
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </td>
                        <td colspan="2" id="tdEmailContent" class="ContentFull" style="display: none;">
                            <fieldset class="FieldSetStyle">
                                <legend>Change Email</legend>
                                <table cellpadding="10" cellspacing="0">
                                    <tr>
                                        <td class="InputLabel">
                                            New Email
                                        </td>
                                        <td>
                                            <input type="text" id="txtNewEmail" class="ContentFont TextInputLong" data-ng-model="PasswordManagement.ManagePassword.NewEmail.Value" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="InputLabel">
                                            Confirm New Email
                                        </td>
                                        <td>
                                            <input type="text" id="txtConfirmNewEmail" class="ContentFont TextInputLong" data-ng-model="PasswordManagement.ConfirmNewEmail.Value" />
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </td>
                        <td colspan="2" id="tdPasswordContent" class="ContentFull" style="display: none;">
                            <fieldset class="FieldSetStyle">
                                <legend>Change Password</legend>
                                <table cellpadding="10" cellspacing="0">
                                    <tr>
                                        <td class="InputLabel">
                                            Old Password
                                        </td>
                                        <td>
                                            <input type="password" id="txtOldPassword" class="ContentFont TextInputLong" data-ng-model="PasswordManagement.ManagePassword.OldPassword.Value" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="InputLabel">
                                            New Password
                                        </td>
                                        <td>
                                            <input type="password" id="txtNewPassword" class="ContentFont TextInputLong" data-ng-model="PasswordManagement.ManagePassword.NewPassword.Value" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="InputLabel">
                                            Retype Password
                                        </td>
                                        <td>
                                            <input type="password" id="txtReNewPassword" value="" class="ContentFont TextInputLong" data-ng-model="PasswordManagement.ReNewPassword" />
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="ContentBackground MessageArea" id="MessageArea">{{PasswordManagement.Message}}</td>
        </tr>
        <tr>
            <td colspan="2" class="ButtonBar ButtonBarSubAppBack">
                <input class="ButtonBarSubAppBack ContentFont TitleMenuFore Button" type="button" value="Exit" id="btnManageExit" ng-click="PasswordManagement.ReturnToMainScreen()" />
                <input class="ButtonBarSubAppBack ContentFont TitleMenuFore Button" type="button" value="Submit" id="btnManageSubmit" ng-click="PasswordManagement.ValidateFields()" />
            </td>
        </tr>
    </table>
</div>
