<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Change Password Comfirmation</title>
</head>
<body style=" background: black;">
    <table cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td style="font-weight: bold; width: 500px; padding: 5px; background: black; color: White; border: solid; border-color: #4682b4; border-width: 1px;">
                Password Change Comfirmation
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; background: white; padding: 3px; border: solid; border-color: #4682b4; border-width: 1px;">
                Hello,
                <p /><br />
                The password associated with the member #USERNAME# has been changed from
                <p />
                old password: #OLDPASSWORD#
                <br />
                new password: #NEWPASSWORD#
                <p />
                Please place this information in a safe place for your records.
                <p />
                Message from device: #DEVICE#
            </td>
        </tr>
    </table>
</body>
</html>