<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration Comfirmation</title>
</head>
<body style="background: #EEE8AA;">
    <table cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td style="font-weight: bold; width: 500px; padding: 5px; background: black; color: White; border: solid; border-color: #4682b4; border-width: 1px;">
                Registration Comfirmation
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; background: white; padding: 3px; border: solid; border-color: #4682b4; border-width: 1px;">
                Greetings!
                <p /><br />
                You should now be registered on my site; however, since this is a public site, I queue everyone for approval who registers. This process
                might take up to 24 hours, so please be patient. Please keep the credentials below in a safe place. I look forward to interacting with you
                as I develop more interactive items to put here. In the meantime, please feel free to read through what you like, and if you have an
                idea for an article, please let me know.
                <p />
                username: #USERNAME#
                <br />
                password: #PASSWORD#
                <p />
                Thank you very much for visiting my site. I really apprecite it!
            </td>
        </tr>
    </table>
</body>
</html>