<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Employee Handbook</title>
</head>
<body style="background: background: #EEE8AA;">
    <table cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td style="font-weight: bold; width: 500px; padding: 5px; background: #4682b4; color: White; border: solid; border-color: #4682b4; border-width: 1px;">
                WCRI Employee Handbook
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; background: white; padding: 3px; border: solid; border-color: #4682b4; border-width: 1px;">
                #USERNAME#,
                <p /><br />
                Please find the employee handbook attached to this email.
            </td>
        </tr>
    </table>
</body>
</html>