<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TasksData.Properties.Settings.WCRIMembershipConnectionString"
            connectionString="Data Source=.;Initial Catalog=WCRIMembership;User ID=sa;Password=3Pitters@3"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>