<div id="ModalWindowContainer" class='modal-overlay' style="display: none;" />
<div id="ModalWindow" class="modal-window" style="display: none;">
    <table cellpadding="0" cellspacing="0" border="0" class="SolidBorder BorderColor">
        <tr>
            <td id="ModalTitle" class="SubTitleBack TitleMenuFore SubAppTitleMetric">
                Modal Title
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;">
                <table id="mdlConfirm" cellpadding="0" cellspacing="0" border="0" style="display: none;">
                    <tr>
                        <td class="ModalContent" data-ng-model="saytext" id="ModalContent" style="vertical-align: middle;">
                            &nbsp;
                        </td>
                    </tr>
                </table>
                <table id="mdlLogin" class="ModalContent" cellpadding="0" cellspacing="0" border="0" style="display: none;">
                    <tr>
                        <td class="InputLabel">
                            UserName
                        </td>
                        <td>
                            <input id="mdlUserName" type="text" value="" class="ContentFont TextInput" ng-keydown="CheckKeyAndValidate();" />
                        </td>
                    </tr>
                    <tr>
                        <td class="InputLabel">
                            Password
                        </td>
                        <td>
                            <input id="mdlPassword" type="password" value="" class="ContentFont TextInput" ng-keydown="CheckKeyAndValidate();" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="ContentBackground MessageArea" id="MdlMessageArea">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="ButtonBar SubTitleBack">
                <input type="button" value="" id="ModalNegative" class="SubTitleBack ContentFont TitleMenuFore Button" ng-click="NegativeClick();" />
                <input type="button" value="" id="ModalPositive" class="SubTitleBack ContentFont TitleMenuFore Button" ng-click="PositiveClick();" />
            </td>
        </tr>
    </table>
</div>

<style type="text/css">
    .ModalTitleStyle {
        font-family: verdana;
        font-size: 9pt;
        font-weight: bold;
        color: white;
        padding: 5px;
    }

    .ModalContent {
        background: white;
        color: black;
        font-family: Verdana;
        font-size: 8pt;
        padding: 5px;
        width: 375px;
        height: 100px;
    }

    .ModalButtonRowBack {
        background: gray;
        padding: 0px;
        text-align: right;
    }

    .ModalButton {
        font-family: Verdana; 
        font-size:8pt; 
        margin: 3px; 
        border: none; 
        color: white; 
        background: gray;
    }

    .ModalBack {
        background-color: gray;
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: #eeeeee;
        opacity: .5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        z-index: 101;
    }

    .modal-window {
        position: fixed;
        top: 50%;
        left: 50%;
        margin: 0;
        padding: 0;
        z-index: 102;
    } 
</style>
